<?xml version="1.0"?>
<launch>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" clear_params="true">

      <!--  Placeholder for output topic remapping  -->
  <remap from="odometry/filtered" to="odometry/filtered"/>


      <!-- ======== STANDARD PARAMETERS ======== -->
      <!-- The frequency, in Hz, at which the filter will output a position estimate. Note that the filter will not begin computation until it receives at least one message from one of the inputs. It will then run continuously at the frequency specified here, regardless of whether it receives more measurements. Defaults to 30 if unspecified. -->
  <param name="frequency" value="50"/>

      <!-- The period, in seconds, after which we consider a sensor to have timed out. In this event, we carry out a predict cycle on the EKF without correcting it. This parameter can be thought of as the minimum frequency with which the filter will generate new output. Defaults to 1 / frequency if not specified. -->
  <param name="sensor_timeout" value="0.1"/>  

      <!-- If this is set to true, no 3D information will be used in your state estimate. Use this if you are operating in a planar environment and want to ignore the effect of small variations in the ground plane that might otherwise be detected by, for example, an IMU. Defaults to false ifunspecified. -->
  <param name="two_d_mode" value="false"/>


      <!-- Defaults to "map" if unspecified -->
      <!-- Defaults to "odom" if unspecified -->
  <param name="map_frame" value=""/>
  <param name="odom_frame" value="world"/>
      <!-- Defaults to "base_link" if unspecified -->
  <param name="base_link_frame" value="base_link"/>
      <!-- Defaults to the value of "odom_frame" if unspecified -->
  <param name="world_frame" value="world"/>

  <param name="dynamic_process_noise_covariance" value="false"/>

  <param name="odom0" value="/odometry/gps"/>
  <!--x, y, z, roll, pitch, yaw, vx, vy,vz, vroll, vpitch, vyaw, ax, ay, az-->
  <rosparam param="odom0_config">
      [ true,  true, true,
       false, false, false,
       false, false, false,
       false, false,  false,
       false, false, false]
  </rosparam>

  <param name="odom0_differential" value="false"/>
  <param name="odom0_relative" value="false"/>
  <param name="odom0_queue_size" value="2"/>
  <param name="odom0_nodelay" value="true"/>

<param name="imu0" value="/imu_nav/data"/>


<!--x, y, z, roll, pitch, yaw, vx, vy,vz, vroll, vpitch, vyaw, ax, ay, az-->
<rosparam param="imu0_config">
    [false, false, false,
      true,  true, true,
     false, false, false,
     true, true, true,
      false,  false,  false]
</rosparam>

<param name="imu0_differential" value="false"/>
<param name="imu0_relative" value="false"/>
<param name="imu0_queue_size" value="10"/>
<param name="imu0_nodelay" value="true"/>

<param name="imu0_remove_gravitational_acceleration" value="true"/>
<rosparam param="process_noise_covariance">
[0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
 0.0, 0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.025, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.025, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.04, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02, 0.0,
0.0, 0.0, 0.0, 0.0, 0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.025]</rosparam>

<rosparam param="initial_estimate_covariance">
[1.0e-6,  0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
0,    1.0e-6,  0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
0,    0,    1.0e-6, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
0,    0,    0,    1.0e-6,  0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
0,    0,    0,    0,    1.0e-6,  0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
0,    0,    0,    0,    0,    1.0e-6, 0,    0,    0,    0,     0,     0,     0,    0,    0,
0,    0,    0,    0,    0,    0,    1.0e-6,  0,    0,    0,     0,     0,     0,    0,    0,
0,    0,    0,    0,    0,    0,    0,    1.0e-6,  0,    0,     0,     0,     0,    0,    0,
0,    0,    0,    0,    0,    0,    0,    0,    1.0e-6,  0,     0,     0,     0,    0,    0,
0,    0,    0,    0,    0,    0,    0,    0,    0,    1.0e-6,   0,     0,     0,    0,    0,
0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     1.0e-6,   0,     0,    0,    0,
0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     1.0e-6,   0,    0,    0,
0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     1.0e-6,  0,    0,
0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    1.0e-6,  0,
0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    1.0e-6]
</rosparam>

<rosparam param="initial_state">[-0.80,  0.095,  -1.085,
                                 0.0,  0.0,  0.0,
                                 0.0,  0.0,  0.0,
                                 0.0,  0.0,  0.0,
                                 0.0,  0.0,  0.0]</rosparam>

  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_node" respawn="true" output="screen">

  <!-- Subcribed topics-->
  <remap from="gps/fix" to="/ublox_nav/fix"/>
  <remap from="imu/data" to="/imu_nav/data"/>
  <remap from="odometry/filtered" to="odometry/filtered"/>

  <!-- Published topics-->
  <remap from="odometry/gps" to="odometry/gps"/>


   <!-- Configuration -->
  <param name="use_odometry_yaw" value="true" />   <!-- when true, we use yaw from the UKF, when false we use imu_data -->

  <param name="magnetic_declination_radians" value="0"/>

  <param name="frequency" value="20"/>
  <param name="delay" value="0.0"/>

  <param name="yaw_offset" value="0"/>

  <param name="zero_altitude" value="false"/>

  <param name="broadcast_utm_transform" value="true"/>

  <param name="publish_filtered_gps" value="true"/>

 <param name="wait_for_datum" value="true"/>
 <rosparam param="datum">[41.18714, -8.7051, 64.6, world, gps]</rosparam>
</node>
</launch>
